
body{
    background-color: rgba(3, 33, 94, 0.178);
}

div#corpo{
    border-radius: 8px;
    background-color: whitesmoke;
    width: 550px;
    color: grey;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 20px rgb(24, 24, 24);
}

table.listagem{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.listagem tr{
    height: 50px;
}

table.listagem td{
    /*border: 1px solid rgb(168, 168, 168);*/
    padding: 10px;
}

table.listagem tr:nth-child(even){
    background-color: #cecece;
}

table.listagem td:nth-child(1){
    width: 180px;
}

table.listagem td:nth-child(3){
    width: 90px;
}