
body{
    background-color: rgba(3, 33, 94, 0.178);
}

#corpo{
    border-radius: 8px;
    background-color: whitesmoke;
    width: 550px;
    color: grey;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 20px rgb(24, 24, 24);
}